@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

:root {
  /* Colors */
  --primary-color: hsl(172, 67%, 45%);
  --white: hsl(0, 0%, 100%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --lighter-dark-grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --lighter-grayish-cyan: hsl(189, 41%, 97%);

  /* font size */
  --font-size: 24px;

  /* Font family */
  --font: "Space Mono", monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font);
  background: var(--light-grayish-cyan);
  font-size: var(--font-size);
}

h1 {
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: var(--very-dark-cyan);
  font-size: 1.5em;
  margin: 1em 0;
}

.main-title {
  display: block;
}

h3 {
  font-size: 0.6em;
  text-transform: capitalize;
  margin: 0.7em 0;
}

.tip-calc h3 {
  color: var(--dark-grayish-cyan);
}

.container {
  background-color: var(--white);
  border-radius: 20px;
  padding: 1em;
}

.input {
  border-radius: 5px;
  padding: 0.5em;
  border: none;
  background-color: var(--lighter-grayish-cyan);
  width: 100%;
  font-family: var(--font);
  font-size: var(--font-size);
  color: var(--very-dark-cyan);
  text-align: right;
}

.input:focus {
  outline: var(--very-dark-cyan);
}

.btn-cont {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 0.5em;
}

.reset-btn {
  width: 100%;
  background-color: var(--primary-color);
  color: var(--very-dark-cyan);
  text-transform: uppercase;
  margin-top: 1.5em;
}

button,
.custom {
  padding: 0.5em 4em;
  background-color: var(--very-dark-cyan);
  color: var(--white);
  border: none;
  font-size: var(--font-size);
  font-weight: 700;
  font-family: var(--font);
  width: 90%;
  margin: 0.5em 0;
  border-radius: 5px;
  text-align: center;
}

button:hover {
  background-color: var(--primary-color);
  color: var(--very-dark-cyan);
}

.custom {
  background-color: var(--lighter-grayish-cyan);
  color: var(--dark-grayish-cyan);
  padding: 0.5em 1em;
  text-align: center;
}

.tip-display {
  background-color: var(--very-dark-cyan);
  color: var(--white);
  border-radius: 20px;
  padding: 1em;
  margin: 1.5em 0;
}

.per-person {
  color: var(--lighter-dark-grayish-cyan);
  font-size: 0.5em;
  font-weight: 700;
}

.attribution {
  text-align: center;
  font-size: 0.5em;
  margin: 2em 0;
}

.people-input,
.bill-input {
  position: relative;
}

.people-input img,
.bill-input img {
  position: absolute;
  top: 35%;
  left: 5%;
}

@media (min-width: 800px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 10em;
    padding: 0.5em 2em;
  }

  .input {
    width: 80%;
    cursor: pointer;
  }

  .reset-btn {
    margin-top: 8em;
  }

  .btn-cont {
    grid-template-columns: 25% 25% 25%;
  }

  button,
  .custom {
    padding: 0.5em 3em;
    width: 100%;
    cursor: pointer;
  }

  .bill,
  .tip,
  .people {
    margin: 1.5em 0;
  }

  .display-amount {
    margin: 1em;
  }
}
